* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

.card-title {
    text-align: center;
}

.card {
    flex: 1 1 21rem;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px;
    align-self: normal;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    align-self: normal;
}


h1,
h2 {
    color: black;
    text-align: center;
}


/*navbar*/
/* Cambiar el color de fondo y el texto al pasar el mouse */
.navbar-nav .nav-link:hover {
    background-color: #5ea9f0;
}

.navbar-nav .nav-link  {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: none;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #e0dddd;
    border: none;
    border-radius: 75px;
    box-shadow: 0px 8px 15px rgba(134, 58, 58, 0.1);
    transition: all 0.6s ease 0s;
    cursor: pointer;
    outline: none;
}
.navbar {
    background-image: url('img/evan-leith-3kruWaCOFpA-unsplash.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
}
.navbar-brand {
    color: #000000; /* Cambia el color de las letras del navbar */
}

/*CARRITO*/

.contenedor {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
}

/*REGISTRO FORMULARIO*/
.form-register {
    width: 450px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 60px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 27px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
/* Colores para el fondo de la web */
body {
    background-image: url('img/evan-leith-3kruWaCOFpA-unsplash.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    /* Otros estilos opcionales */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}



.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    /*sirve para que el parrafo quede con la misma altura arriba y abajo*/
}
.form-register .botons-container {
    display: flex;
    justify-content: center; /* Alinear el contenido horizontalmente al centro */
}

.form-register .botons {
    position: relative;
    margin: 0;
    padding: 17px 100px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #1f53c5;
    border: 1px solid rgba(7, 33, 80, 0.6);
    border-radius: 10px;
    color: #ffffff;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    margin-left: 50px;
}

.form-register .botons:hover {
    animation: rotate624 0.7s ease-in-out both;
}

@keyframes rotate624 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
/*efectos de los logos de redes sociales */
.parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .child:hover {
    background-color: white;
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(60deg) translateY(2px);
    box-shadow: 0px 10px 10px rgb(1, 49, 182);
  }
  
  button {
    border: none;
    background-color: transparent;
    font-size: 20px;
  }
  
  .button:hover {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
    border-radius: 50%;
  }           
        
       
        

.card .btn {
    background-color: #65727a;
    color: white;
}