<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizacion</title>
    {% load static %}
    <link rel="icon" type="img/jpg" href="{% static 'img/icono1.png'%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <main>
        <div class="container">

            {% if usuario %}
                <h2>Formulario actulizar datos</h2>

                <form action="{% url 'usuariosUpdate' %}" id="form" method="POST">
                    
                    {% csrf_token %}
                    

                    <div class="input-control">
                        <input id="username" name="username" type="text" placeholder="Nombre" autocomplete="off" value="usuario.nombre">
                        <div class="error"></div>
                    </div>

                    <div class="input-control">
                        <input id="username2" name="username2" type="text" placeholder="Apellido" autocomplete="off" value="usuario.apelliod">
                        <div class="error"></div>
                    </div>

                    <div class="input-control">
                        <input id="email" name="email" type="text" placeholder="Email" autocomplete="off" value="usuario.email">
                        <div class="error"></div>
                    </div>

                    <div class="input-control">
                        <input id="password" name="password" placeholder="Contraseña" autocomplete="off" value="usuario.password">
                        <div class="error"></div>
                    </div>

                    <input type="submit" name="opcion" values="Actualizar">
                    
                </form><br>
            {% endif %}
            <div id="idMensajes">
                {% if mensaje %}
                {{mensaje}}
                {% endif %}
            </div>

        </div>
    </main>
    
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/funciones formulario.js" %}"></script>

</body>
</html>