<div class="card">
    <div class="card-header">
        Lista usuarios
    </div>
    <div class="card-body">
        <h4  class="card-title">Usuarios</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Password</th> 
                    <th>Acciones</th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Juan</td>
                    <td>Gonzales</td>
                    <td>juangonzales@gmail.com</td>
                    <td>juan1234567890</td>
                    <td>Editar | Borrar</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">

    </div>

</div>