<div class="card">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <h4  class="card-title">Usuarios</h4>
            <a class="btn btn-success" href="{% url 'registro' %}">Agregar nuevo usuario</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Password</th> 
                    <th>Acciones</th> 
                </tr>
            </thead>
            <tbody>

                {% for Usuario in usuarios %}
                <tr>
                    <td>{{Usuario.nombre}}</td>
                    <td>{{Usuario.apellido}}</td>
                    <td>{{Usuario.email}}</td>
                    <td>{{Usuario.password}}</td>
                    <td>
                        <a href="" class="btn btn-danger" role="button">Borrar</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">

    </div>

</div> 