{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar</title>
</head>
<body>
    
    <h1>Editar datos de usuario</h1><br>
    <br>

    <button type="button">
        <a href="{% url 'usuariosAdd' %}"> agregar</a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>

    <table>
        {% if usuario %}

            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Password</th>
            <th>Eliminar</th>
            <th>Modificar</th>

            {% for x in usuarios %}
                <tr>
                    <td>{{x.nombre}}</td>
                    <td>{{x.apellido}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.password}}</td>
                    <td><a href="{% url 'usuarios_del' pk=x.nombre %}">Eliminar</a></td>
                    <td><a href="{% url 'usuarios_findEdit' pk=x.nombre %}">Modificar</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <script>
        $(document).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        })
    </script>

</body>
</html>